.container{
  font-family: 'Raleway', sans-serif;
}

.header_title{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.section{
  height: 75vh;
  background-image:url(coast.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: left;
  color: white;
  padding-left: 50px;
}

.description{
    font-weight: bold;
  }

.unordered_list {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    display: block;
    color: black;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 5px;
    text-decoration: none;
  }

.tab {
      display: block;
      color: black;
      text-align: right;
      margin-right: 30px;
      margin-bottom: 5px;
      text-decoration: none;
  }
